{% extends 'base.html' %}

{% block body %}
<div class="container my-4">
    <h3>Query : {{query}}</h3>
</div>
{% if tasks %}
    {% for task in tasks %}
    <div class="container my-4">

        <div class="card">
        <div class="card-header">
            {{task.task_id}}
        </div>
        <div class="card-body">
            Task : <h5 class="card-title">{{task.task_name}}</h5>
            Status : <h6 class="card-title">{{task.status}}</h6>

            <a href="/task/compl_task/{{task.task_id}}" class="btn btn-primary mx-2">Completed ! </a>
            <a href="/task/edit_task/{{task.task_id}}" class="btn btn-warning mx-2">Edit </a>
            <a href="/task/remove_task/{{task.task_id}}" class="btn btn-danger">Delete</a>
        </div>
        </div>
    </div>
    {% endfor %}
{% else %}
<div class="container">
    <h1>No Reasult</h1>
</div>
{% endif %}

{% endblock body %}